# Node
node_modules
dist
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

apps/api/.env
apps/api/.env.*
!apps/api/.env.example

# Build artifacts
*.tsbuildinfo

# system
.DS_Store
package-lock.json
pnpm-lock.yaml
